<body bgcolor="pink">
    
   <h1  align="center">Welcome to Movie reviews</h1><br><br><br>
   <%= link_to 'Home', '/static_pages/home' %>
   
   
   
   <marquee bgcolor="yellow">::::::Welcome to the World of Movie Entertainment:::::</marquee>
   
   <h4 align="center">Team Members</h4>
   <p><h6  align="center">Laxmi Patlolla</h6></h6></p>
   <p align="center" ><h6  align="center">Vinuthna Basireddy</h6></h6></p>
   <p align="center"><h6  align="center">Revanth Tirunagari</h6></h6></p>
 
   
   
   
  <table align="center" cellspacing="20px", cellpadding="10">
     <tr>
     <td><a href="https://moviereviews-lpatlolla.c9users.io/movies#new">Add a Movie</a></td>
     <td><a href="https://moviereviews-lpatlolla.c9users.io/actors#new">Add actors</a></td>
     <td><a href="https://moviereviews-lpatlolla.c9users.io/castings#new">Add a cast ordination</a></td></tr>
     
  </table>
   
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  
   
  
   
       
    
    
    
